.card__wrapper {
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.card__box {
  position: relative;
  max-width: 600px;
  max-height: 600px;
}

.big__circle {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 320px;
  height: 320px;
  background: rgba(155, 223, 170, 0.7);
  border-radius: 50%;
  z-index: -1;
}
.glass-effect {
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  padding: 2em 3em;
  width: auto;
  height: auto;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(45px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 68, 50, 0.03);
}

@media screen and (max-width: 995px) {
  .big__circle {
    top: 3%;
    left: 15%;
    width: 250px;
    height: 280px;
    background: rgba(155, 223, 170, 0.4);
  }
}

@media screen and (max-width: 426px) {
  .big__circle {
    display: none;
  }
  .glass-effect {
    width: auto;
    padding: 2em 1em;
    box-shadow: inset -6px -6px 40px;

    /* inset 6px 6px 10px rgba(11, 16, 20, 0.329); */
  }
}
